footer.site-footer{
	padding: 15px;
	background: #efd8d2;

	p{ font-size: 14px; }

	ul{
		margin: 0;
		padding-left: 15px;

		li{
			list-style: none;
			margin-bottom: 5px;
		}
	}

	.site-info{ 
		max-width: 1280px; 
		margin-left: auto;
		margin-right: auto;
	}

	h2{ 
		color: #646464; 
		font-weight: bolder;
	}


}

.footer-widget{
	margin: 25px 0;
}


@media screen and (min-width: 768px){
	.footer-sidebar{
		.footer-sidebar-1{ width: 34%; }
		.footer-sidebar-2,
		.footer-sidebar-3{ width: 14%; }
		.footer-sidebar-4{ width: 34%; }
	}

	.footer-sidebar{
		display: flex;

		.footer-widget{ 
			margin-left: 0.5%;
			margin-right: 0.5%;
		}
	}

	footer.site-footer{
		p, a{ 
			font-size: 14px; 
		}
		h2.widget-title{ font-size: 18px; }
		h4.workshop-title{ 
			font-size: 12px; 
			margin-bottom: 0;
		}
		ul{ padding-left: 0; }
	}
}

.footer-full{
	border-top: 1px solid $color__text-main;

}