@import "workshop";

@import "contact";


body{ position: relative; }


.entry-content{
  padding-left: 1em;
  padding-right: 1em; 

  @media screen and (min-width: 768px){
    max-width: 75%;
    margin: 25px auto;
  }

  @media screen and (min-width: 1280px){
    max-width: 50%;
  }

}


/*
* TESTIMONIAL GALLERY
*/

.testimonial-wrapper{
  // border: 1px solid red;
  width: 100%;
  padding: 1em;

  h2.testimonial-title{ text-align: center; }
}

.testimonial-container{
  // border: 1px solid blue;
  .flickity-prev-next-button.previous{ 
    left: -20px!important; 
    background: none!important;
  }

  .flickity-prev-next-button.next{ 
    right: -20px!important; 
    background: none!important;
  }  

}

.testimonial{
  // border: 1px solid yellow;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 5px;
  padding-right: 5px;
  h3{
    // border: 1px solid white;
    text-align: right;
  }
}



@media screen and (min-width: 768px){
  .testimonial-wrapper{
    min-height: 30vh;
    padding: 50px 0;
  }
  .testimonial-container{
    max-width: 75%;
    margin: 0 auto;

    .flickity-prev-next-button.previous{ 
      left: -50px!important; 
     background: rgba(209, 171, 105, 0.2)!important;
     border-radius: 50%;
     width: 40px;
     height: 40px;
    }

    .flickity-prev-next-button.next{ 
      right: -50px!important; 
      background: rgba(209, 171, 105, 0.2)!important;
      border-radius: 50%;
      width: 40px;
      height: 40px;
    }

  }

}

@media screen and (min-width: 1280px){
  .testimonial-wrapper{
    padding: 100px 0;
  }
  .testimonial-container{
    max-width: 50%;
  }

  .testimonial{
    p{ 
      font-size: 13.5px; 
      line-height: 2.5;
      word-spacing: 2px;
    }
  }
}



/* 
* PHOTO GALLERIES
*/


.gallery{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
}
.gallery-container{
  width: 100%;
  padding: 15px;
  
  h2{ 
    margin-top: 0;
    width: 100%;
    color: $color__link;
    font-weight: 400;
  }

  @media screen and (min-width: 768px){
    h2{ text-align: center; }
  }

  @media screen and (min-width: 1024px){
    margin: 50px auto;
    h2{ 
      font-size: 2em; 
      font-style: italic;
    }
  }  
}




  .flickity-prev-next-button.next{ right: 0px; }
  .flickity-prev-next-button.previous{ left: 0px; }

  .flickity-prev-next-button.next,
  .flickity-prev-next-button.previous{  
    background: rgba(177,146,85,0.4); 
    border-radius: 0;
    width: 30px;
    height: 60px;
    transition: 0.3s ease-in-out;

    &:hover{
      background: rgba(177,146,85,1); 
    }
  }



.gallery-wrapper{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  margin-bottom: 40px;

  .flickity-prev-next-button.next{ right: 0px; }
  .flickity-prev-next-button.previous{ left: 0px; }

  .flickity-prev-next-button.next,
  .flickity-prev-next-button.previous{  
    background: rgba(177,146,85,0.4); 
    border-radius: 0;
    width: 30px;
    height: 60px;
    transition: 0.3s ease-in-out;

    &:hover{
      background: rgba(177,146,85,1); 
    }
  }

  @media screen and (min-width: 1280px){
    max-width: 1280px;
  }

  .flickity-page-dots{
    bottom: -25px;
  }

}

.image{
  
  border: 1px solid white;
  height: 0;
  width: 33.33%;
  padding-top: 33.33%;

}


// INSTAGRAM STYLING

section.instagram{

  #sb_instagram{ 
    margin-bottom: 1em; 

    span.sbi_follow_btn a{ 
      margin-top: 50px;
      background: $color__link; 
      
    }
  }

  @media screen and (min-width: 1024px){
    margin: 50px auto;
  }
}



