body{ position: relative; }


/*
* TESTIMONIAL GALLERY
*/
.testimonial-wrapper{
  margin: 25px 0;
  padding: 25px 0;

  h2.testimonial-title{ 
    text-align: center; 
    margin-top: 0;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 768px){
    padding: 25px 0;
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h2.testimonial-title{ 
      font-weight: 700;
    }
  }

  @media screen and (min-width: 1000px){
    min-height: 550px;
  }

}
.testimonial-container{
  padding: 15px;
  width: 100%;

  /* position outside */
  .flickity-prev-next-button.previous {
    left: 0px;

 
  }
  .flickity-prev-next-button.next {
    right: 0px;


  }

  @media screen and (min-width: 768px){
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 1024px){
    max-width: 80%;
  }

  @media screen and (min-width: 1440px){
    max-width: 1100px;
  }



}

.testimonial{
  width: 100%;
  padding: 0 15px;
  p{ 
    margin-top: 0;
    text-align: center;
    line-height: 1.75;
    &:before,
    &:after{
      content: " \" ";
      font-size: 21px;
      font-weight: 900;
    }

  }
  h3{ text-align: right; }
  
  @media screen and (min-width: 768px){
    p{ margin-bottom: 0; }
    h3{ margin-top: 0; }
  }
}





/* 
* PHOTO GALLERIES
*/


.gallery{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
}
.gallery-container{
  width: 100%;
  padding: 15px;
  
  h2{ 
    margin-top: 0;
    width: 100%;
    color: $color__link;
  }

  @media screen and (min-width: 768px){
    h2{ text-align: center; }
  }

  @media screen and (min-width: 1024px){
    margin: 50px auto;
  }  

  @media screen and (min-width: 1440px){
    h2{
      font-size: 2.25em;
    }
  }  


}
.gallery-wrapper{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  margin-bottom: 40px;

  .flickity-prev-next-button.next{ right: -10px; }
  .flickity-prev-next-button.previous{ left: -10px; }

  @media screen and (min-width: 768px){
    width: 100%;
  }

  .flickity-page-dots{
    bottom: -25px;
  }

}

.image{
  
  border: 1px solid white;
  height: 0;
  width: 33.33%;
  padding-top: 33.33%;

  @media screen and (min-width: 768px){
    padding-top: 25%;
  }

  @media screen and (min-width: 1440px){
    width: 25%;
    padding-top: 18.75%;
  }


}


// INSTAGRAM STYLING

section.instagram{

  @media screen and (min-width: 1024px){
    margin: 50px auto;
  }

  .instagram-title{ 
    margin: 2em 1em;
    h3{
        text-align: right;

        a{
            padding: 0.5em 1em 0.5em 1em;
            border: 2px solid $color__link;      
            
            transition: 0.5s ease-in-out;

            &:hover{
              color: white;
              background: $color__link;
            }

        }

    }
  }
}