header.site-header{
	position: fixed;
	width: 100%;
	padding: 15px;
	top: 0;
	left: 0;
	z-index: 5;
	display: flex;
	justify-content: space-between;
	background: none;
	transition: 0.5s ease-in-out;
	&:before,
	&:after{ content: none; }

	@media screen and (min-width: 768px){
		align-items: center;
	}

	@media screen and (min-width: 1024px){
		justify-content: space-around;
	}
}

/* 
* SITE BRANDING - LOGO
*/
.site-branding{
	width: 50px;
	height: 50px;
	transition: 0.5s ease-in-out;

	@media screen and (min-width: 768px){
		width: 75px;
		height: 75px;
	}

}

/*
* HAMBURGER MENU - Mobile navigation
*/ 

.hamburger{
	width: 35px;
	height: 35px;
	position: fixed;
	right: 30px;
	top: 30px;
	transform: rotate(0deg);
	transition: 0.5s ease-in-out;
	cursor: pointer;
	z-index: 10;

	span{
		display: block;
		position: absolute;
		height: 3px;
		width: 100%;
		background: $color__link-hover;
		border-radius: 10px;
		opacity: 1;
		left: 0;
		transform: rotate(0deg);
		transition: 0.3s ease-in-out;

		&:nth-child(1){ top: 0; }
		&:nth-child(2){ top: 10px; }
		&:nth-child(3){ top: 20px; }
	}

	@media screen and (min-width: 768px){
		display: none;
	}
}

/*
*	When the Hamburger menu is clicked
*/
.hamburger.open{
	span{
		&:nth-child(1){
			top: 10px;
			transform: rotate(135deg);
		}

		&:nth-child(2){
			opacity: 0;
			left: 60px;
		}
		&:nth-child(3){
			top: 10px;
			transform: rotate(-135deg);
		}
	}
}


/*
*	Hamburger Menu & Page Links
*/

.menu-primary-container{
	background: white;
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	transform: translateX(-100%);
	transition: 0.5s ease-in-out;
	overflow-y: scroll;
	overflow-x: hidden;	

	@media screen and (orientation: landscape){
		height: 100vh;
		align-items: flex-start;
	}

	@media screen and (min-width: 768px){
		background: none;
		transform: translateX(0);
		height: auto;
		overflow: visible;
		position: static;
	}
}

ul#menu-primary{
	padding-left: 0;



	li.menu-item{
		list-style: none;		
		margin-left: 15px;
		margin-right: 15px;
		margin-bottom: 15px;
		a{ 
			font-size: 21px; 
		}
	}

	li.menu-item-has-children{
		
		ul.sub-menu{
			background: white;
			li{
				a{ 
					font-size: 14px; 
				}
			}
		}
	}

	@media screen and (min-width: 768px){
		margin: 0;
		display: flex;
		li.menu-item{
			position: relative;
			margin-bottom: 0;
			a{ 
				font-size: 18px; 
				color: white;
				transition: 0.5s ease-in-out;

				&:after{
					content: "";
					display: block;
					border-bottom: 2px solid $color__link-hover;
					transform: scale(0);
					transition: 0.5s ease-in-out;
				}				

				&:hover{
					color: $color__link-hover;
					&:after{ transform: scale(1); }

				}
			}
		}

	li.current-menu-item{
		a{ 
			color: $color__link; 
			font-weight: 900;
		}
	}		

		li.menu-item-has-children{
			position: relative;

			&:before{
				content: ">";
				font-size: 18px;
				position: absolute;
				right: -15px;
				top: 0;
				color: white;
				transition: 0.5s ease-in-out;
			}

			&:hover{
				&:before{ color: $color__link-hover; }
			}
			
			ul.sub-menu{
				width: 200px;
				margin: 0;
				padding: 15px;
				position: absolute;
				left: 0;
				top: 165%;
				transform: scale(0);
				transition: 0.5s ease-in-out;
				transform-origin: 0 0;

				li{
					margin: 15px 0;
					a{ 
						font-size: 16px;
						color: $color__link;
					}
				}
			}

			&:hover{
				ul.sub-menu{
					transform: scale(1);
				}

				&:before{
					transform: rotate(90deg);
				}
			}

		}
	}
}




.menu-primary-container.show{
	transform: translateX(0);
}


header#masthead.scrolled{
	background: rgba(255,255,255,1);
	padding-top: 0;
	padding-bottom: 0;
	.hamburger{
		top: 15px;
		right: 10px;
	}

	li{
		a{ color: $color__link!important; }
	}

	li.menu-item-has-children{
		&:before{
			color: $color__link;
		}
	}
	

}



/****************
*	PAGINATION STYLING
****************/


nav.post-navigation{
	padding: 1em;

	.nav-links{
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		.nav-previous,
		.nav-next{
			margin: 1em 0;
			width: 49%;
			a{

				text-align: center;
				display: flex;
				flex-direction: column;
			}
		}

		@media screen and (min-width: 768px){
			justify-content: space-between;
			max-width: 90%;
			margin-left: auto;
			margin-right: auto;
			.nav-previous{
				a{ text-align: left; }
			}
			.nav-next{
				a{ text-align: right; }
			}
			
		}

		@media screen and (min-width: 992px){
			max-width: 100%;
		}
	}

}


.blog-nav{
	.menu-primary-container{
		#menu-primary{
			li{
				a{ color: $color__link; }
			}
		}
	}
}