
header.site-header{
	width: 100vw;
	transition: 0.5s ease-in-out;
	padding: 10px 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	width: 100%;
	z-index: 100;

	&:before, &:after{
		content: none;
	}

	@media screen and (min-width: 768px){
		
		padding-left: 3vw;
		padding-right: 3vw;		
		.hamburger{ display: none; }
		.menu-primary-container{ clip-path: none; }
	}
}

/* Site Branding / Logo */

.site-branding{
	width: 75px;
	height: 75px;
	a{
		img{ 
			width: 100%; 
			height: auto;
		}
	}

	@media screen and (min-width: 1024px){
	}
}


/*  Mobile Navigation Styling (Hamburger Menu) */

.hamburger{
	width: 40px;
	height: 35px;
	position: relative;
	rotate:(0deg);
	transition: 0.5s ease-in-out;
	cursor: pointer;	
	z-index: 10;
	

	span{
		display: block;
		position: absolute;
		height: 6px;
		width: 100%;
		background: #000000;
		border-radius: 9px;
		opacity: 1;
		left: 0;
		transform: rotate(0deg);
		transition: 0.25s ease-in-out;

		&:nth-child(1){ top: 0px; }
		&:nth-child(2){ top: 10px;}
		&:nth-child(3){ top: 20px; }
	}
}

.hamburger.open{
	span{
		&:nth-child(1){
			top: 10px;
			transform: rotate(135deg);
		}

		&:nth-child(2){
			opacity: 0;
			left: -60px;
		}

		&:nth-child(3){
			top: 10px;
			transform: rotate(-135deg);
		}
	}
}

.menu-primary-container{
	// background: rgba(238,215,209,0.9);
	background: rgba(255,255,255,0.9);
	position: absolute;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	clip-path: circle(0px at top right);
	transition: clip-path 1s ease-in-out;

	ul#menu-primary{
		li.menu-item-has-children{
			ul{
				margin: 0;

				li{
					a{ 
						font-size: 14px; }
				}
			}
		}		
	}


	// mobile view on landscape enable scrolling
	@media screen and (max-width: 768px) and (orientation: landscape){

		ul#menu-primary{
			justify-content: flex-start;
			width: 100%;
			padding: 50px 150px;
			overflow: scroll;


		}

	}

	@media screen and (min-width: 768px){	
		background: none;
		position: initial;
		height: auto;
		ul#menu-primary{
			flex-direction: row;
			li{ 
				margin-right: 25px; 
				a{ font-size: 16px; }
			}
			li.menu-item-has-children{
				
				ul{
					max-height: 0;
					margin: 0;
					padding: 0;
					overflow: hidden;
					position: absolute;
					// background: rgba(179,179,179,0.9);
					background: rgba(255,255,255,0.9);
					top: 100%;
					transition: 0.5s ease-in-out;
			
					
					li{
						margin: 15px 0; 
						padding: 0 15px;
					}
				}

				&:hover{
					ul{
						max-height: 250px!important;
						overflow: none!important;
						margin: 0;
						
					}
				}
			}			
		}	
	}
	@media screen and (min-width: 1024px){
		ul#menu-primary{
			li{ margin-right: 35px; }


		}
	}
}


.menu-primary-container.show{
	clip-path: circle(150% at top right);
	position: absolute!important;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transition: 0.5s ease-in-out;
}

ul#menu-primary{
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	li{ 
		list-style: none; 

		a{
			font-size: 21px;
			font-weight: 400;
			letter-spacing: 1.5px;
			text-decoration: none;
			color: $color__text-main;
			&:after{
				display: block;
				content: "";
				border-bottom: 2px solid $color__text-main;
				transform: scale(0);
				transition: transform 0.5s ease-in-out;

			}
			
			&:hover{
				&:after{ transform: scaleX(1); }
			}
		}

		@media screen and (min-width: 768px){
			margin-right: 5px;
			a{ 	
				font-size: 16px; 
				color: white;
			}
		}		
	}
}

li.menu-item-has-children{
	
	a{ position: relative; }
	a:before{ 
		content: "  >";
		border-bottom: none!important; 
		color: white;
		position: absolute;
		right: -15px;
		

	}

	ul{
		padding-left: 15px;

		li{
			display: flex;
			justify-content: flex-start;
			align-items: center;
			margin-right: 0!important;



			a{ 
				width: 100%;
				font-size: 14px; 
				padding: 10px 15px;
				color: $color__text-main!important;
				&:after{ border-bottom: 2px solid $color__text-main!important;}
				&:before{ content: none; }
			}
		}
	}


}	

.scrolled{
	/* pink background */
	// background: rgba(238,215,209,0.86); 

	// background: rgba(204,204,204,0.9);
	background: rgba(255,255,255,0.9);

	// .menu-item{
	// 	a{ 
	// 		color: $color__text-main!important; 
	// 		&:before{
	// 			color: $color__text-main!important;
	// 		}
	// 	}
	// }

}

#masthead.hide{
	transform: translateY(-100%);

	.menu-primary-container.show{
		transform: translateY(95px);
	}
}